<h1>Search Results</h1>
<% @search_facade.get_foods.each do |food| %>
  <section id='search_result'>
    <h2 id='description'><%= food.description %></h2>
    <p id='gtinupc_code'>GTIN/UPC code: <%= food.code %></p>
    <p id='brand_owner'>Brand Owner: <%= food.brand_owner %></p>
    <p id='ingredients'>Ingredients: <%= food.ingredients %></p>
  </section>
  <br>
<% end %>
